.chart-title {
    -fx-text-fill: #000;
    -fx-font-size: 1.6em;
}

.thin-lines, .chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }